/* Base Styles */
body {
  color: #ffffff;
  text-align: center;
  background: #000000;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Typography */

/* Links & Accents */

/* Images */

/* Hero Section */

/* Main Content */

/* About Section */

/* Specials Section */

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
